@import url(./reset.css);
/* Set the desired font from google fonts, or adobe fonts here */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap');


/* GLOBALS */
body{
    background-color: rgb(0, 0, 0);
    font-family: "Roboto", sans-serif;
    /* 
    100,400,700,900 weights available. Add differrent 
    weights to the classes or elements that are needed 
     */
    font-weight: 400;
    font-style: normal;
    color:white;
}

a {
    text-decoration: none;
    color:white;
}

p{
    margin:10px 50px 10px 0px;
    line-height: 1.5;
}

h1 {
    font-weight: 900;
    text-align: center;
    font-size: 2rem;
}

h2{
    font-size:1.2rem;
    font-weight: 900;
    margin-bottom:10px;
}

h2 + ul {
    list-style-type: circle;
    margin-bottom:10px;
}

h2 + ul > li {
    margin-left:30px;
}

hr{
    width:100%;
}


.be::before, .em::before, .insta::before {
    display: inline-block;
    position: relative;
    content: "";
    width: 25px;
    height: 25px;
    top: 7px;
    background-repeat: no-repeat;
}

.be::before{
    background-image: url(../img/ico/behance-solid.svg);
   
}

.em::before{
    background-image: url(../img/ico/envelope-solid.svg);

}
.insta::before{
    background-image: url(../img/ico/instagram-solid.svg);
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    padding:10px;
  }

/* LAYOUT */

.full-page-section {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    height: 100vh;
    background-color: grey;
    background-position: center center fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

#hero{
    background-image: url(../img/placeholder.png);
}

#hero > ul {
    position: absolute;
    bottom:25px;
}

#hero > ul > li {
    display:inline;
    margin:0 5px 0 5px;
}

#about-intro{
    background-image: url(../img/placeholder.png);
}

#intro-text > p, #intro-text >h2{
    position: relative;
    top:200px;
    width:600px;
}

#category-selection{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%; /* Adjust based on design */
    margin:0 auto;
    height:100vh;
}

.category-card {
    width: 100%;
    max-width: 250px;
    margin: 25px;
    min-height: 400px;
    max-height: 400px;
    border: 1px solid white;
}

.project-info{
    position:relative;
    top:300px;
    left:50px;
}


#project-1 {
    background-image: url(../img/placeholder.png);
}



/* tag colors */

.green{
    background-color:rgba(100, 125, 50, 1);

}

.tag {
    display: inline-block;
    /* border:1px solid white; */
    padding:5px 15px 5px 15px;
    border-radius:25px;
}
